# App
VITE_APP_TITLE="Управление общежитиями УО «ВГТУ»"
VITE_APP_BASE_URL=""

# Auth
VITE_AUTH_BASE_URL=""
VITE_AUTH_LOGIN_PATH="/login"
VITE_AUTH_LOGOUT_PATH="/exit"
VITE_AUTH_FORBIDDEN_PATH="/403"
VITE_AUTH_API_BASE_PATH="/api/v2"

# Backend api
VITE_BACKEND_API_BASE_URL=""
